body{ /*This targets the entire body*/
    background-color: rgb(201, 168, 115);
    color: darkred;  
    background-image: url(../img/Anne\ copie.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif; /*desired font family, web-safe font,fallback font*/
    font-weight: 400;
}

/* Below is for the bookmarks so the bg is darkred and text is offwhite*/

#head1{ /*This targets an id*/
    background-color: darkred;
    font-family: "Assistant",sans-serif;
    text-align: center;
    padding-bottom: 5px;
}
#head2{
    background-color: darkred;
    font-family: "Assistant",sans-serif;
    text-align: center;
    padding-bottom: 5px;
    
}
section>a{ /* this targets child elements e.g. all a element in a section block*/
    color:rgb(248, 238, 238);
    font-weight: 800;
}
a:hover{ /*this is to make the colour change when mouse hover over link*/
    color:black
}
h1{ /*This targets all h1 elements and adds a little red line on top of them*/
    text-decoration:overline darkred 2px;
    font-style: italic;
    text-shadow: 4px 4px 5px darkred; /*horizontal, vertical, blurr, colour*/
}
h2{
    color: black;
}
td{ /*This targets all td elements - makes text in table centered*/
    text-align: center;
}
#para-1{ /*This targets p tag with id para-1*/
    color:black;
    padding: 20px 20px 20px 20px; /*top, right, bottom, left */
    margin: 20px 20px 20px 20px;
    text-align: right;
}
/* This is to make your website adapted to diff view e.g. mobile, 
not sure if this works...*/
@media (max-height: 576px) {
    body {
        background-color:black;
    }
}